.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-width: 0;
    margin: 8rem 0 2rem 0;
}

.dataAndCvc {
    display: flex;
    gap: 20px;
}

@media only screen and (min-height: 741px) {
    .form {
        margin-top: 0;
    }
}