.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

.thankYou {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .30rem;
    margin: 2rem 0 2rem 0;
}

.confirmation {
    margin-bottom: 4rem;
    color: var(--dark-grayish-violet);
    word-spacing: .30rem;
}

.checkmark {
    margin-top: 8rem;
}

.successButton {
    width: 20rem;
}

@media only screen and (min-width: 992px) {
    .checkmark {
        margin-top: 0;
    }

    .successButton {
        width: 25rem;
    }
}